<nav class="options">
  <div class="logo" (click)="showOptions()">Escuela de Natación "SPARTAN"</div>
  <div class="links {{show}}">
    <a class="" href="dashboard/home">Inicio</a>
    <a class="" href="dashboard/register">Registro</a>
    <a class="" href="login">Login</a>
    <!--<a class="" href="dashboard/voucher">Pago</a>-->
    <!--<a class="" href="dashboard/pre-inscription">Pre-inscritos</a>
    <a class="" href="dashboard/inscription">Inscritos</a>
    <a class="" href="login">Salir</a>-->
  </div>
</nav>
<router-outlet></router-outlet>

<footer> 
  <span>Direccion: KM 24 Vía a Quevedo  </span>
  <span>Telefono: 095478965</span>
  <div class="logo-img">
    <img src="../../../assets/imagenes/Sello.png" style="width: 40px;">
</div>
</footer>
