<nav class="options">
    <div class="logo" (click)="showOptions()">Admin</div>
    <div class="links {{show}}">
      <!--<a class="" href="dashboard/home">Inicio</a>
      <a class="" href="dashboard/register">Registro</a>
      <a class="" href="dashboard/pre-inscription">Pre-inscritos</a>
      <a class="" href="dashboard/inscription">Inscritos</a>
      <a class="" href="login">Salir</a>-->
      <!--<a class="" href="dashboard-admin/home">Inicio</a>-->
      <!--<a class="" href="dashboard/register">Registro</a>-->
      <a class="" href="dashboard-admin/pre-inscription">Pre-inscritos</a>
      <a class="" href="dashboard-admin/inscription">Inscritos</a>
      <a class="" href="login">Salir</a>
    </div>
  </nav>
  <router-outlet></router-outlet>